<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <title>update notice</title>
    <style>
    .home_btn {margin-left: 0%; margin-bottom: 3%;}
    .sub_btn {width: 10%; margin-left: 45%;}
    @media screen and (max-width: 600px) {
        .sub_btn {width: 20%; margin-left: 40%;}
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark row" style="margin-bottom: 5%; height: 10%;">
        <a class="navbar-brand col-md-5 col-xs-5 text-success" href="/">Home</a>
        <h3 class="text-light col-md-6 col-xs-5">Edit Notices</h3>
    </nav>
    {% for notice in notices %}
    <div style="margin-bottom: 5%;">
        <form method="POST" action="./edit_notice">
            <input type="hidden" value="{{notice.id}}" name="notice_id">
            <input type="hidden" value="{{notice.title}}" name="oldtitle">
            <input type="text" class="text-center" style="width: 40%; margin-left: 30%; margin-right: 20%;font-size: 30px;" value="{{notice.title}}" name="newtitle">
            <textarea name="oldbody" id="" cols="" rows="0" style="visibility: hidden; margin: 0%; height: 0%;">{{notice.body}}</textarea>
            <textarea style="margin-top: 1%; margin-left: 20%; margin-right: 20%; width: 60%;" name="newbody" id="" cols="" rows="5">{{notice.body}}</textarea>
            <input class="sub_btn btn btn-primary" type="submit" value="Update" style=" margin-top: 1%;">
        </form>
        <form method="POST" action="./delete" style="margin-top: 0%;">
            <input type="hidden" value="{{notice.id}}" name="notice_id">
            <input class="sub_btn btn btn-danger" type="submit" value="Delete">
        </form>
    </div>
    {% endfor %}
    <div style="margin-bottom: 10%"></div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      $("document").ready( function () {
        for (var i=0; i<messages.length; i++) {
          alert(messages[i]);
        } 
      });
    </script>
    {% endif %}
    {% endwith %}
</body>
</html>