<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>home</title>
    <style>
    .navbar {height:10%;}
    @media screen and (max-width: 600px) {
      a {margin-top: 5%;}
      .navbar {height: auto;}
    }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark row" style="">
    <!-- <a class="navbar-brand col-md-2 " style="visibility: hidden;" href="/">Home</a> -->
    <div class="col-md-5"><a class="navbar-brand text-success" target="blank" href="https://github.com/MUKESHSIHAG/Notice-Board">Github</a></div>
    <h3 class="text-light col-md-6 ">Notice System</h3>
  </nav>
  <div class="row" style="margin-top: 20%;">
    <a style="margin-left: 4%;" class="btn btn-primary col-md-3 col-sm-12" href="/notice">View all notices</a>
    <div class="col-md-1"></div>
    <a class="btn btn-primary col-md-3 col-sm-12" href="/create_notice">Create Notice</a>
    <div class="col-md-1"></div>
    <a class="btn btn-primary col-md-3 col-sm-12" href="/edit_notice">Edit Notice</a>
</div>
</body>
</html>